@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  /* padding: 20px; */
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 78vmin;
  height: 78vmin;
  border: 2px solid black;
  position: relative;
  background-color: #f0f0f0;
}

.cell {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
}

.cell.even {
  background-color: #d3d3d3;
}

.player {
  width: 8vmin;
  height: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  /* border: 2px solid ; */
  overflow: hidden;
  background-color: white;
}

.player img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.quiz {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: black;
}

.options button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.options button:hover {
  background-color: #d3d3d3;
}

.center-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
}

.center-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.dice {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 20px; */
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.dice:hover {
  background-color: #0056b3;
}

.restart-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: #c82333;
}

.dice-image {
  width: 100%;
  height: 10vmin;
  object-fit: contain;
}